.footer {
    width: 100%;
    padding: 64px min(5.6%, 24px);
}
.footerContainer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #e2e2e2;
    padding-top: 20px;
}
.logoImg {
    width: 65.34px;
    height: 65.16px;
}
.navLinks {
    order: 3;
    width: 100%;
    padding: 0 12px;
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    justify-content: flex-start;
    list-style: none;
}
.navLinks li {
    color: var(--text-black-900);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    opacity: 0.5;
    transition: 0.3s ease;
}
.navLinks li:hover,
.navLinks li:focus {
    opacity: 1;
}
.socials {
    order: 2;
    width: 100%;
    max-width: 100px;
    list-style: none;
    display: flex;
    justify-content: space-between;
}
.socials img {
    width: 20px;
    height: auto;
}

@media (min-width: 640px) {
    @media (min-width: 768px) {
        .footer {
            padding: 64px min(5%, 64px);
        }
        .footerContainer {
            flex-wrap: nowrap;
            gap: 0;
            padding-top: 16px;
        }
        .navLinks {
            order: 2;
            max-width: 380px;
            padding: 0;
            gap: 0;
            flex-wrap: nowrap;
            justify-content: space-between;
        }
        .navLinks li {
            font-size: 12px;
            font-weight: 600;
        }
        .socials {
            order: 3;
        }
        @media (min-width: 1024px) {
            .logoImg {
                width: 76.23px;
                height: 76.02px;
            }
            .navLinks {
                max-width: 443px;
            }
            .navLinks li {
                font-size: 16px;
                font-weight: 500;
            }
            .social {
                max-width: 120px;
            }
            .socials img {
                width: 24px;
            }
        }
    }
}
