.hero {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 25px min(5.6%, 24px) 53px;
}
.heroCnt {
    padding: min(47%, 78.45px) 20px min(53%, 88.45px);
    width: 100%;
    position: relative;
    text-align: center;
    background: url(/home/hero-bg-mb.png) no-repeat;
    background-position: center;
    background-size: cover;
}
.heroTitle {
    display: flex;
    gap: 3px;
    flex-direction: column;
    justify-content: center;
    font-size: 20.32px;
    font-weight: 400;
    font-style: italic;
    line-height: 120%;
    color: var(--text-white-900);
}
.heroTitle span:nth-child(2) {
    font-size: 16.62px;
    font-style: normal;
    font-weight: 200;
    letter-spacing: 10.08px;
}
.scrollDown {
    display: block;
    position: absolute;
    bottom: -27.81443px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 61.04px;
    height: 59px;
    padding: 2.7px;
    border-radius: 49.87px;
    background: var(--black-900);
    overflow: hidden;
}
.scrollDown svg {
    max-height: 20.67px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
}
.scrollDown svg > path {
    strokewidth: 0px;
    stroke: var(--white-900);
}
.scrollText {
    width: 54.01px;
    height: 52.5px;
}

@media (min-width: 640px) {
    @media (min-width: 768px) {
        .hero {
            width: 100%;
            display: flex;
            justify-content: center;
            padding: 63px min(5%, 64px);
        }
        .heroCnt {
            padding: min(13.64%, 157px) 20px min(15.36%, 177px);
            width: 100%;
            position: relative;
            text-align: center;
            background: url(/home/hero-bg-lg.png) no-repeat;
            background-position: center;
            background-size: cover;
            position: relative;
        }
        .heroTitle {
            gap: 8px;
            font-size: 61.6px;
        }
        .heroTitle span:nth-child(2) {
            font-size: 50.4px;
        }
        .scrollDown {
            width: 97.81443px;
            height: 94.55215px;
            padding: 4.32px;
            border-radius: 79.92px;
        }
        .scrollDown svg {
            max-height: 33.12px;
        }
        .scrollDown svg > path {
            strokewidth: 1.44px;
        }
        .scrollText {
            width: 86.54px;
            height: 83.6px;
        }
    }
}
.heroTitle {
    font-size: clamp(1.27rem, 6.94vw + -0.59rem, 3.85rem);
}
.heroTitle span:nth-child(2) {
    font-size: clamp(1.04rem, 5.68vw + -0.48rem, 3.15rem);
}
