.newsletter {
    width: 100%;
    background: var(--black-900);
    padding: 64px;
}
.newsletterContainer {
    width: 100%;
    padding: 64px;
    background-color: var(--primary-color);
    background-image: url(/home/newsletter-bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-between;
}
.header {
    width: 100%;
    max-width: 420px;
}
.header h3 {
    color: var(--text-white-900);
    font-size: 32px;
    font-style: italic;
    font-weight: 400;
    line-height: 120%;
    margin-bottom: 8px;
}
.header h4 {
    color: var(--text-white-900);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}
.form {
    width: 100%;
    max-width: 572px;
    display: flex;
    justify-content: space-between;
    gap: 16px;
}
.input {
    width: 100%;
    max-width: 360px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.input input,
.input input::placeholder {
    font-family: inherit;
    color: #667085;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}
.input input {
    width: 100%;
    padding: 12px 14px;
    height: 44px;
    border: 1px solid var(--white-900);
    background: var(--white-900);
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
}
.input label {
    color: var(--text-white-900);
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 200%;
}
.submit {
    background: transparent;
    width: fit-content;
    height: 44px;
    display: flex;
    gap: 10px;
    align-items: center;
    border-left: 3px solid var(--white-900);
    padding-left: 16px;
}
.submit span {
    color: var(--text-white-900);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: 5.12px;
}
